@font-face {
  font-family: 'Manrope-Extended';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('fonts/font1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('fonts/font2.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body{
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
body > div{
	opacity: 0;
	transition: opacity 2s;
}
body > div.active{
	opacity: 1;
}
/* MSG */
#msg{
	position: fixed;
	width: fit-content;
	left: 50%;
	transform: translate(-50%, -150%);
	transition: 1s;
	border-radius: .3;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 1px 1px 4px #4dcfff;
	z-index: 3;
}
#msg > span{
	font-size: 1.5rem;
	text-align: center;
}
#msg > div{
	margin-left: .5rem;
	margin-top: .15rem;
	background-color: #9ce4ff; /*#e6e6e6;*/
	width: 30px;
	height: 30px;
	border-radius: .3;
	padding: .6rem .2rem .2rem .6rem;
	cursor: pointer;
}
#msg > div:hover{
	background-color: #76adc2;
}
#msg > div > div{
	height: 2px;
	width: 30px;
	background-color: #12b6fc; /*#4d4d4d;*/
	transform-origin: 0 50%;
	margin: .05rem 0 0 .05rem;
}
#msg > div > div:nth-child(1){
	transform: rotate(45deg);
}
#msg > div > div:nth-child(2){
	transform: rotate(-45deg);
	margin-top: 19px;
}

#msg.opened{
	transform: translate(-50%, 2rem);
}
/* HEADER */
#header{
	position: relative;
	margin-top: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8rem;
	overflow-x: hidden;
}
#header > span{
	white-space: nowrap;
	color: #03528f;
}
#header > span:nth-child(1){
	font-weight: 500;
	font-size: 2.5rem;
}
#header > span:nth-child(2){
	font-size: 1.7rem;
	margin-left: 12%;
	margin-top: .3rem;
}
#header > span:nth-child(3){
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 1.7rem;
	margin-left: 10%;
	margin-top: .3rem;
}
#header > span:nth-child(3) > img{
	margin-left: .4rem;
	width: 2rem;
	height: 2rem;
}
/* DOTS */

#dots{
	display: flex;
	position: absolute;
	margin-top: 460px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
#dots > div{
	cursor: pointer;
	width: .5rem;
	height: .5rem;
	border: 1px solid white;
	border-radius: 2.5rem;
	margin: 0 .3rem;
}
/* ARROWS */
#arrows{
	position: absolute;
	display: flex;
	margin-top: 230px;
	z-index: 2;
	width: 74%;
	left: 13%;
	justify-content: space-between;
}
.arrow{
	padding: .25rem;
	position: relative;
	background-color: #a8d9ff;
	border: 2px solid #0a74c4;
	height: 3rem;
	width: 3rem;
	border-radius: 2.5rem;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: .3s;
}
.arrow:hover{
	background-color: #86afcf;
}
.arrow:nth-child(1) > div{
	background-color: #0a74c4;
	height: 2px;
	width: 1.5rem;
	position: absolute;
	margin: 1.4rem 0 0 .9rem;
}
.arrow:nth-child(1) > div:nth-child(1){ /*верхняя линия*/
	transform-origin: 0 0;
	transform: rotate(-45deg);
}
.arrow:nth-child(1) > div:nth-child(2){ /*нижняя линия*/
	transform-origin: 0 0;
	transform: rotate(45deg);
}
.arrow:nth-child(2) > div{
	background-color: #0a74c4;
	height: 2px;
	width: 1.5rem;
	position: absolute;
	margin: 1.4rem 0 0 .65rem;
}
.arrow:nth-child(2) > div:nth-child(1){ /*верхняя линия*/
	transform-origin: 100% 0;
	transform: rotate(45deg);
}
.arrow:nth-child(2) > div:nth-child(2){ /*нижняя линия*/
	transform-origin: 100% 0;
	transform: rotate(-45deg);
}

/* SLIDER */
#slider{
	position: relative;
	width:70%;
	left: 15%;
	min-height: 500px;
	height: 500px;
}
#slider-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
#chain{
	display: flex;
	width: 400%;
	height: 100%;
	transition: 1.2s;
}
.slider-item{
	height: 100%;
	width: 25%;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}
.slider-item:nth-child(1){
	background-image: url('img/IMG_2565.JPG');
}
.slider-item:nth-child(2){
	background-image: url('img/IMG_2569.JPG');
}
.slider-item:nth-child(3){
	background-image: url('img/IMG_2567.JPG');
}
.slider-item:nth-child(4){
	background-image: url('img/slider_html.jpeg');
}

.slider-item-panel{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 11.5rem;
	margin-left: 50%;
	transform: translateX(-50%);
	justify-content: center;
}
#chain .slider-item:nth-child(1) .slider-item-panel{
	margin-top: 8.5rem;
}
.slider-item-panel > div{
	display: flex;
	padding: .6rem 1.2rem;
	background-color: white;
	align-items: center;
	justify-content: center;
	/*border-radius: 2.5rem;*/
	margin: .7rem .7rem;
	border: 1px solid #0a74c4;
}
.slider-item-panel > div > span{
	text-align: center;
	white-space: nowrap;
	font-size: 1.5rem;
}
.slider-item-panel > div > img{
	width: 1.5rem;
	height: 1.5rem;
}

/* FAQ */
#FAQ{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	position: relative;
	left: 10%;
}
#FAQ > h1{
	width: fit-content;
}
#FAQ > span{
	font-size: 1.3rem;
	margin: .3rem 0;
	text-align: center;
}
#FAQ > .question{
	cursor: pointer;
	border-radius: 1.5rem;
	padding: .4rem .9rem;
	border: 2px solid #0a74c4;
}
#FAQ > .answer{
	display: none;
}

/* FOOTER */
#footer{
	margin-top: 3rem;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	background-color: #303030;
	padding: 1rem 0;
}
.footer-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 1.3rem;
}
.footer-item > h3, .footer-item > span, .footer-item > span > a{
	color: white;
	text-align: center;
}
@media all and (max-width: 1371px){
	.slider-item-panel{
		flex-direction: column;
		width: 80%;
	}
}
@media all and (max-width: 1228px){
	#header > span:nth-child(2){
		display: none;
	}
	#header > span:nth-child(3){
		margin-left: 30%;
	}
	#chain .slider-item:not(.slider-item:nth-child(1)) .slider-item-panel{
		margin-top: 10.5rem;
	}
	.slider-item-panel:not(.slider-item-panel:nth-child(1)){
		margin-top: 10.5rem;
	}
}
@media all and (max-width: 1024px){
	#arrows{
		left: 7%;
		width: 86%;
	}
	#slider{
		width: 80%;
		left: 10%;
	}
	.slider-item-panel{
		margin-left: 50%;
	}
	#chain{
		transition: .8s;
	}
	#header > span:nth-child(3){
		margin-left: 15%;
	}
	#footer{
		flex-direction: column;
		align-items: center;
	}
}
@media all and (max-width: 840px){
	.slider-item-panel> div > span{
		white-space: wrap;
	}
}
@media all and (max-width: 636px){
	#header{
		flex-direction: column;
	}
	#header > span:nth-child(3){
		margin-left: 0%;
	}
	#chain .slider-item:nth-child(1) .slider-item-panel{
		margin-top: 5rem;
	}
	.slider-item-panel > div > span{
		font-size: 1.3rem;
	}
}
@media all and (max-width: 425px){
	.slider-item-panel{
		width: 95%;
	}
	.slider-item-panel:nth-child(1) > div{
		margin: .9rem 0;
	}
	#arrows{
		left: 2%;
		width: 96%;
	}
	#slider{
		width: 90%;
		left: 5%;
	}
}